@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$off-white: #F5F7FA;
$green:#4CAF4F;
$lblack: #4D4D4D;
$gray: #717171;
$black: #18191F;
$white: #FFFFFF;
$pcolor: #89939E;
