@use 'var';
*{
    font-size: Inter;
}

// header sectinon
.header_section{
    background-color: var.$off-white;
    .container-fluid{
        padding: 20px 144px; 
       .cta_btn{
        button{
            border: none;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 6px;
            background-color: var.$green;
            color: var.$white;
            &:nth-child(1){
                color: var.$green;
                background-color: var.$off-white;
            }
        }
       } 
    }
}

// hero sectinon
.hero_sectinon{
   padding:84px 144px; 
   .container-fluid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 64px;
.t-header{
        width: 50%;
        padding: 16px;
        h1{
            font-size: 64px;
            font-weight: 600;
            color: var.$lblack;
            span{
                font-size: 64px;
            font-weight: 600;
            color: var.$green; 
            }
        }
        button{
            border: none;
            background-color: var.$green;
            padding: 14px 32px;
            border-radius: 4px;
         }
     }

   }
   .dot{
    text-align: center;
   }
}

// client section
.client_section{
background-color: var.$white;
padding: 20px 0px;
.container-fluid{
    .c-text{
        h2{
         font-size: 36px;
         font-weight: 600;
         line-height: 44px;
         text-align: center;
         color: var.$lblack;
        }
        p{
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            color: #717171;
            padding-top: 10px;  
        }
    }
    .c-logo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-items: center;
        padding-top: 16px;     
    }
}
}

// community section
.community_section{
    padding: 60px 0px;
    .container-fluid{
        h2{
            text-align: center;
            color: #4D4D4D;
        }
        p{
            text-align: center; 
              
        }

        .contains_hold{
            display: flex;
            justify-content: space-around;
            align-content: center;
            align-items: center;
            align-self: center;

            .first_item{
                padding: 40px 40px;
               box-shadow: 0.1px .1px 14px #dfdcdc;
                
                
                .img_icon{
                    align-items: center;
                    .img_here{
                        padding-left: 20px;
                        margin-top: 10px;
                    }
                }
                h4{
                    text-align: center;
                    color: #4D4D4D;
                }
            }
        }
    }
}


.about_section{
    .container-fluid{
        .contains_holder{
            display: flex;
            justify-content: start;
            align-items: center;
            align-content: center;

            .image_here{
                img{
                    width: 100%;
                    height: 80vh;
                }
            }

            .text_here{
                padding-right: 280px;
                h2{
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 44px;
                    color: #4D4D4D;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #717171;
                }
                button{
                    padding: 14px 32px;
                    background-color: #4CAF4F;
                    border: 0px;
                    border-radius: 6px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.help_section{
    padding: 40px 0px;
    .container-fluid{
        background-color: #f5f7fA;
        padding: 80px 0px;
        .main_contain{
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
           .heading_sec{
                h2{
                    font-size: 36px;
                    font-weight: 600;
                    color: #4D4D4D;
                }
           }
           .other_sec{
              .first_sec{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 20px;

                .member_item{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    gap: 20px;

                    .first_1{
                        h3{
                            color: #4D4D4D;
                            font-size: 28px;
                        }
                    }

                }
                .club_item{
                    display: flex;
                    justify-content: center;
                    align-content: center;  
                    gap: 60px;
                }
              }
              .second_sec{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                gap: 20px;
                .event_item{
                    display: flex;
                    justify-content: center;
                    align-content: center;  
                    gap: 20px;
                }
                .pay_item{
                    display: flex;
                    justify-content: center;
                    align-content: center;  
                    gap: 20px;
                }
              }
           } 
        }
    }
}




// Another section starts
.ano_section{
    padding: 80px 0px;
    .container-fluid{
        padding: 0px 110px;
        .all_contain{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            column-gap: 140px;
            .text_area{
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #717171;
                }
                .comment{
                    h5{
                        font-size: 24px;
                        font-weight: 500;
                        color: #4CAF4F;
                    }
                }
                .icon_tbl{
                    display: flex;
                    user-select: none;justify-content: space-around;
                    align-content: center;

                    .btn{
                        a{
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: 500;
                            color: #4CAF4F;
                        }
                    }
                }
            }

        }
    }
}
// Another section ends

// Next section starts
.next_section{
    .container-fluid{
       .main_hhl{
        display: flex;
        justify-content: left;
        align-content: center;
        align-items: center;
        column-gap: 170px;

        .image_holder{
            padding-left: 90px;
        }
        .text_btn{
            h2{
                font-size: 36px;
                font-weight: 600;
                color: #4D4D4D;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #717171;
                padding: 10px 0px;
            }
            button{
                padding: 12px 24px;
                background-color: #4CAF4F;
                border: 2px solid #4caf4f;
                border-radius: 6px;
                a{
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
       } 
    }
}
// Next section ends

// care section starts
.care_section{
    padding: 80px 0px;
    .container-fluid{
        .text_area{
            h2{
                font-size: 36px;
                text-align: center;
                color: #4D4D4D;
            }
            p{
                font-size: 16px;
                text-align: center;
                color: #717171;
                padding: 10px 0px;
                
            }
        }
       .prim_contain{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: 40px 0px;
        

           .index_holder{
            position: relative;
            
            //    .img_holder{
                
               
            //    }
              .text_holder{
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                width: 20rem;
                position: absolute;
                background-color: #f5f7fA;
                border-radius: 6px;
                margin-left: 28px;
                bottom: -80px;
                box-shadow: 1px 1px 4px rgb(179, 177, 177);
                
                
                  p{
                    text-align: center;
                    padding: 10px 45px;
                    font-size: 18px;
                    color: #717171;
                }
                a{
                  text-decoration: none; 
                  font-size: 16px;
                  padding-bottom: 30px;
                }
              }
           }
       }   
    }
}
// care section ends 

// section text starts
.text_section{
    background-color: var.$off-white;
    .container-fluid{
        padding: 80px 0px;
        .text_holder{
            h2{
                text-align: center;
                font-size: 64px;
                font-weight: 600;
                line-height: 76px;
                color: #263238;
            }
            .btn_holder{
                display: flex;
                justify-content: space-around;
                align-items: center;
                align-content: center;

                .btn_here{
                    text-align: center;
                    padding-top: 10px;
                    button{
                        padding: 12px 24px;
                        background-color: #4CAF4F;
                        border: 1px solid #4CAF4F;
                        border-radius: 6px;

                        a{
                            text-decoration: none;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
                
            }
        }
    }
}
// section text ends

// footer section  starts
.footer_section{
    background-color: #263238;
    .container-fluid{
        padding: 64px 165px;
        gap: 125px;
        display: flex;
        justify-content: space-between;
        .company-info{
            display: flex;
            flex-direction: column;
            gap: 60px;
           .f-text{
             p{
                color: var.$off-white;
             }
           } 
           .social-icon{
            display: flex;
            justify-content: space-between;
            .icon{
                i{
                    color: var.$off-white;
                }
            }
           }
        }
        .link{
            display: flex;
            gap: 190px;
            .link-info{
                h4{
                    color: var.$white;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                }
                ul{
                    list-style: none;
                    padding: 20px 0px;
                    li{
                        padding: 7px 0px;
                        a{
                            text-decoration: none;
                            color: var.$off-white;
                            font-size: 16px;
                        }
                    }
                }
               .inputs{
                display: flex;
                gap: 30px;
                background-color: #515B60;
                padding: 10px;
                border-radius: 10px;
                p{
                    color: var.$off-white;
                }
                img{
                    width: 18px;
                    height: 18px;
                }
               }
            }
        }

    }
}






















